.Oval {
  width: 60px;
  height: 60px;
  background-color: #d8d8d8;
  width: 60px;
  height: 60px;
  background-color: #d8d8d8;
  position: absolute;
  top: 109px;
  left: 25px;
  border-radius: 50%;
}

.Rectangle-2 {
  width: 543px;
  height: 540px;
  border-radius: 30px;
  background-color: #f8f8f8;
  box-shadow: 0 16px 29px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.Add-New-Profile {
  width: 213px;
  height: 33px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  align-self: center;
  margin: 50px 0 25px 0;
}

.Rectangle-4 {
  width: 340px;
  height: 31px;
  color: #4a4a4a;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #bfbfbf;
  padding: 0 0 0 10px;
}

.city-state {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}

.city {
  width: 250px;
}

.imageUpload {
  border-radius: 50%;
}

.state {
  width: 80px;
  margin-left: 10px;
}

.Rectangle-2 > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Rectangle-2> form > input {
  margin-bottom: 9px;
  font-size: 16px;
  padding: 0 0 0 10px;
}

textarea.Rectangle-4 {
  width: 340px;
  height: 110px;
  font-size: 16px;
  padding: 0 0 0 10px;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Content--after-open {
  border: none;
  background: rgba(255, 255, 255, 0);
  height: 600px;
  z-index: 15;
}

.profiles {
  margin-top: 15px;
  font-size: 16px;
  align-self: flex-start;
  margin-left: 110px;
}

form > .social-profiles {
  margin-top: 8px;
  align-self: flex-start;
  margin-left: 110px;
}

.new-prof-btns {
  margin-top: 30px;
  width: 235px;
  display: flex;
  justify-content: space-between;
}

.new-prof-btns > button:first-child {
  width: 110px;
  height: 31px;
  border-radius: 10px;
  background-color: #bfbfbf;
  border: solid 1px #bfbfbf;
  color: #ffffff;
  opacity: 0.5;
}

.new-prof-btns > button:last-child {
  width: 110px;
  height: 31px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #22a7f0;
  color: #22a7f0;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.Select-option {
  z-index: 20;
}

.Select-option:nth-child(n+6) {
  display: none;
}
.Select-option:last-child,
.Select-option:nth-child(5) {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

span.Select-multi-value-wrapper {
  position: relative;
}

.Select-input {
  display: inline-block;
  position: absolute;
  top: -24px;
}

.Select-input > input {
  width: 81px;
  margin-left: -12px;
  border-radius: 12px;
  border: none;
}

.Select-menu-outer {
  z-index: 20;
  background: white;
  width: 80px;
  margin-left: -12px;
}

.menu-outer-top .Select-menu-outer {
    bottom: 35px!important;
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-top-right-radius: 4px!important;
    border-top-left-radius: 4px!important;
}
